.layoutWrapper {
}

.layoutInner {
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 20px;
}

.layoutContent {
  padding: 70px;
  border-radius: 30px;
  background: #fff;
}
